<html>

<h3>Join Groups</h3>
<form id="createGroup" action="/createGroup" method="post">
    Group Name: <input type="text" name = "groupName">
    Email: <input type="text" name="email" value={{email.email}} readonly> 
    <input type="submit" value="Create">
 </form>
<br/>

</html>